#breadcrumbs {
    margin: 5%;
}

#breadcrumbs p,
#breadcrumbs a,
#breadcrumbs a:visited {
  display: inline;
  color: #FAF9F9;
  text-decoration: none;
}

#breadcrumbs a:hover {
    font-weight: bold;
    text-decoration: underline;
}