.comment-card {
    border-bottom: solid 1px #E5E4E4;
    margin-bottom: 13px;
}

.optimistic-comment-card {
    border: solid 2px #1BD16A;
    border-radius: 3px;
    margin-bottom: 13px;
    padding-left: 5%;
}

.optimistic-comment-card button,
.comment-card button {
  display: block;
  margin-bottom: 13px;
}

.comment-content {
    display: block;
    margin-bottom: 13px;
}

.comment-author,
.comment-body {
  display: inline;
}