#votes {
    border-top: solid 1px #E5E4E4;
    border-bottom: solid 1px #E5E4E4;
    margin: 5% 0 5%;
    padding: 5% 0 5%;
    padding: 13px 0 13px;
}

#votes * {
    display: inline;
    margin-right: 5%;
}

#votes p {
    color: #4D4D4D;
}

#votes button {
    padding: 3px 2px 2px;
    width: 26px;
    height: 25px;
    border-radius: 3px;
    background-color: #6B4D7C;
}

#votes button {
    margin: 0 13px 0 0;
}

@media only screen and (min-width: 1024px) {
    #votes p {
        font-size: 16px;
    }
}