/* * {
  border: solid 1px black;
} */

body {
  background-color: #6B4D7C;
}

h1 {
  text-align: center;
  color: #FAF9F9;
}

h2 {
  color: #6B4D7C;
}

h3 {
  color: #1F1F1F;
}

#articles,
.loading,
#article-page,
.article-info {
  margin: 5%;
  padding: 2%;
  background-color: #FAF9F9;
  border-radius: 3px;
}

.article-card,
.page-intro {
  margin: 5%;
  padding: 5%;
  background-color: #FAF9F9;
  border-radius: 3px;
}

form * label {
  display: block;
  text-align: center;
}

form * select,
form * button {
  display: block;
  padding: 10px;
  width: 120px;
  margin-top: 5%;
  border-radius: 3px;
}

form * button {
  background-color: #6B4D7C;
  color: #FAF9F9;
  border: none;
  font-size: 15px;
}

form * button a {
  text-decoration: none;
  color: #FAF9F9;
}

form * select {
  text-align: center;
  color: #6B4D7C;
  background-color: #FAF9F9;
  border: solid 2px #6B4D7C;
  font-size: 15px;
}

ul {
  padding: 0;
}

.article-card {
  list-style: none;
  border: solid 1px #E5E4E4;
  box-shadow: 2px 6px 15px rgb(0 0 0 / 10%);
}

.article-info h2 {
  color: #6B4D7C;
}

.content {
  overflow-wrap: break-word;
}

.read-assist {
  overflow: hidden; 
}

.comment-card {
  border-bottom: solid 1px #E5E4E4;
  margin-bottom: 5%;
}

.optimistic-comment-card {
  border: solid 2px #1BD16A;
  border-radius: 3px;
  margin-bottom: 5%;
  padding-left: 5%;
}

.comment-content {
  display: block;
  margin-bottom: 5%;
}

.comment-author,
.comment-body {
  display: inline;
}

.comment-card button,
.optimistic-comment-card button {
  display: block;
  margin-bottom: 5%;
}

.view-toggle {
  background-color: #6B4D7C;
  color: #FAF9F9;
  width: 150px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
}

#comment-submit {
  background-color: #6B4D7C;
  color: #FAF9F9;
  border: none;
  border-radius: 3px;
  font-size: 15px;
}

#breadcrumbs {
  margin: 5%;
}

#breadcrumbs p,
#breadcrumbs a,
#breadcrumbs a:visited {
  display: inline;
  color: #FAF9F9;
  text-decoration: none;
}

#breadcrumbs a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#articles a {
  text-decoration: none;
}

#articles p {
  color: #4D4D4D;
  margin: 5px;
}

#articles button {
  background-color: #6B4D7C;
  color: #FAF9F9;
  width: 100px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
  display: inline;
}

.article-card-top,
.article-card-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.article-card-bottom {
  border-top: solid 1px #E5E4E4;
  margin-top: 5%;
  padding-top: 5%;
}

#articles a *:hover {
  text-decoration: underline;
}

#article-page div {
  background-color: #FAF9F9;
}

#votes {
  border-top: solid 1px #E5E4E4;
  border-bottom: solid 1px #E5E4E4;
  margin: 5% 0 5%;
  padding: 5% 0 5%;
}

#votes * {
  display: inline;
  margin-right: 5%;
}

#votes p {
  /* color: #6B4D7C; */
  color: #4D4D4D;
  /* border: solid 1px #6B4D7C; */
  border-radius: 3px;
  padding: 0 5px 2px;
}

#votes button,
.comment-card button,
.optimistic-comment-card button {
  padding: 3px 2px 2px;
  width: 26px;
  height: 25px;
  border-radius: 3px;
  background-color: #6B4D7C;
}

#votes button {
  margin: 0 5% 0 0;
}

#votes svg,
.comment-card svg,
.optimistic-comment-card svg {
  margin: 0;
  color: #FAF9F9;
}

#query-form {
  margin: 5%;
  padding: 5%;
  background-color: #FAF9F9;
  border-radius: 3px;
}

#add-comment {
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#comment-input {
  border-radius: 3px;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#topic-query-inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#topic-query label {
  text-align: center;
}

#topic-query select {
  width: 170px;
}

#topic-query button {
  width: 70px;
}

#sort-query {
  margin: 5% 0;
}

#sort-query select {
  width: 100%;
}




@media only screen and (min-width: 1024px) {

  form,
  #articles,
  #breadcrumbs {
    margin: 5% 10%;
  }

  form * {
    display: inline;
  }

  #topic-query {
    margin-right: 5%;
  }

  #sort-query {
    margin-left: 5%;
  }

  .article-card {
    width: 300px;
    margin: 2.5%
  }

  #articles ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #article-page div {
    border: solid 1px black;
  }

}

@media only screen and (min-width: 1440px) {
  form,
  #articles,
  #breadcrumbs {
    margin: 5% 5%;
  }
}